<p>todo-creat works!</p>

<form class="todo-form" [formGroup]="myForm">
  <input
    type="text"
    placeholder="Title"
    formControlName="title"
    [(ngModel)]="title">

  <input
    type="text"
    placeholder="Description"
    formControlName="description"
    [(ngModel)]="description">

  <input
    type="text"
    placeholder="Autor"
    formControlName="author"
    [(ngModel)]="author">

  <input
    type="text"
    placeholder="Priorety"
    formControlName="priority"
    [(ngModel)]="priority">

  <input
    type="text"
    placeholder="Deadline"
    formControlName="deadline"
    [(ngModel)]="deadline">

  <button (click)="onSumbit()" [disabled]="myForm.invalid">Submit</button>
</form>
